commands2run.txt
CMakeLists.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/.cmake/api/v1/reply/cache-v2-87f0375253020cc7861c.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-0ff2fda000e8dce5f324.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-16a19d8e7a7ef9a8110f.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-03-15T12-24-55-0559.json
cmake-build-debug/.cmake/api/v1/reply/target-371pass-Debug-e7a35fa2437632f12a00.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-559f1cb6546428e7beeb.json
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
.idea/misc.xml
.idea/371pass.iml
.idea/371pass.iml
.idea/371pass.iml
